<!DOCTYPE html>
<html lang="th">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thai Festivals</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <!-- <button class="c" onclick="window.location.href='/logout'" class="logout-btn">ออกจากระบบ</button>
        <button class="c" onclick="window.location.href='/edit-info'" class="edit-btn">แก้ไขข้อมูล</button> -->
        <a href="/edit-info" class="edit-btn">แก้ไขข้อมูล</a>
        <a href="/logout" class="logout-btn">ออกจากระบบ</a>
        <h1>ประเพณีไทย</h1>
    </header>
    <div class="container">
        <h2>ยินดีต้อนรับสู่เว็บไซต์ที่รวบรวมประเพณีไทย</h2>
        <p>เว็บไซต์นี้รวบรวมข้อมูลเกี่ยวกับประเพณีไทยที่สำคัญและน่าสนใจ เพื่อให้ทุกคนได้เรียนรู้และเข้าใจถึงวัฒนธรรมไทย</p>
      </div>

    <div class="grid-container">
        <!-- ภาคเหนือ -->
        <div class="festival-item" id="north">
            <img src="https://www.govivigo.com/content/ideas/5633/56339a3dec60adb92a8b4628-2-full-ideas.jpg" alt="ประเพณีลอยโคม">
            <p><a href="/index2">ภาคเหนือ</a></p>
        </div>
        <!-- ภาคกลาง -->
        <div class="festival-item" id="central">
            <img src="https://www.mcot.net/uploads/article/202310/f418c63c78ec5292c877b77733dc5239.jpeg" alt="ประเพณีรับบัว">
            <p><a href="/index3">ภาคกลาง</a></p>
        </div>

        <!-- ภาคอีสาน -->
        <div class="festival-item" id="northeast">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTdp2oZqxjq2FiApPFTJL7FX_CpcakBTBKsgQ&s" alt="ประเพณีผีตาโขน">
            <p><a href="/index4">ภาคอีสาน</a></p>
        </div>

        <!-- ภาคใต้ -->
        <div class="festival-item" id="south">
            <img src="https://nareeputfah.weebly.com/uploads/4/2/8/4/42842145/714174091.jpg?1421033216" alt="มโนราห์">
            <p><a href="/index5">ภาคใต้</a></p>
        </div>
    </div>
</body>
</html>